{% comment %}
使用方法示例:
{% include meeting-card.html 
  date="2025-03-26"
  formatted_date="2025年03月26日"
  presentations=page.presentations 
%}
{% endcomment %}

<div class="card mb-4">
  <div class="card-header" style="background-color: #e3f2fd; color: #333;">
    <h4 class="mb-0">{{ include.formatted_date }}</h4>
  </div>
  <div class="card-body">
    {% for presentation in include.presentations %}
    <div class="presentation mb-4 {% unless forloop.last %}border-bottom pb-4{% endunless %}">
      <div class="row">
        <div class="col-md-12">
          <h4>{{ presentation.title }}</h4>
          <p>
            <strong>报告人</strong>: {{ presentation.speaker }} &nbsp;&nbsp;|&nbsp;&nbsp; 
            <strong>发表会议</strong>: {{ presentation.conference }} &nbsp;&nbsp;&nbsp;&nbsp;
            {% if presentation.paper_link %}
            <a href="{{ presentation.paper_link }}" class="btn btn-sm btn-outline-primary"><i class="fas fa-file-pdf"></i> 论文</a>
            {% endif %}
          </p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
